# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/cmake-build-debug/*
/cmake-build-release/*
/cmake-build-rewithdebinfo/*
/.idea
cmake-build-relwithdebinfo/*
/CwApi3d/html/*
/CwApi3d/CwApi30.zip
